<%- include('partials/header') -%>

<link rel="stylesheet" href="/css/driver.css">

<div class="sidenav">
    <a href="#">Previous Requests</a>
    <a href="#">Pending Requests</a>
</div>

<main class="container">
<h1>Hello 
    <%= finance.name %> 
</h1>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope = 'col'>Car</th>
            <th scope = 'col'>HOD</th>
            <th scope = 'col'>Finance</th>
            <th scope = 'col'>Logistics</th>
            <th scope = 'col'>Status</th>
        </tr>
    </thead>

<% requests.forEach(function(request){ %> 

    <tr>
        <td>
            <%= request.car %> 
        </td>
        <td>
            <%= request.HOD_approver %> 
        </td>
        <td>
            <%= request.finance_approver %>  
        </td>
        <td>
            <%= request.logistics_approver %> 
        </td>
        <td>
            <%= request.status %> 
        </td>
    </tr>

<% }) %> 
</table>

</main>

<%- include('partials/footer') -%>