<%- include('partials/header') -%>
<%- include('partials/top-navbar') -%>
<%- include('partials/side-navbar') -%>

<div class="mcw">
    <div class="cv">
      <div>
        <div class="inbox">
          <div class="inbox-sb">
            <div class="content">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope = 'col'>Status</th>
                            <th scope = 'col'>Driver</th>
                            <th scope = 'col'>Car</th>
                            <% if(user.role != 'Driver') {%> 
                            <th scope="col">Review</th>
                            <% } %> 
                        </tr>
                    </thead>

                <% requests.forEach(function(request){ %> 

                    <tr>
                        <td>
                            <%= request.status %> 
                        </td>
                        <td>
                            <%= request.driver %> 
                        </td>
                        <td>
                            <%= request.car %> 
                        </td>

                        <% if(user.role != 'Driver') {%> 
                        <td>
                            <form action="/<%= user.role %>/pendingrequest" method="post">
                                <input type="hidden" name="request_id" value="<%= request.id %>">
                                <button type="submit" class="btn btn-primary">Review</button>
                            </form>
                        </td>
                        <% } %> 
                        
                    </tr>

                <% }) %> 
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>
<script>
        document.querySelector('#sidenav-2').classList.add('active')
</script>

<%- include('partials/footer') -%>