<%- include('partials/header') -%>
<%- include('partials/top-navbar') -%>
<%- include('partials/side-navbar') -%>

<div class="mcw">
    <div class="cv">
      <div>
        <div class="inbox">
          <div class="inbox-sb">
            <div class="content">
                <form action="/<%= user.role %>/singlerequest" method="post">
                    <input type="text" value="<%= request.driver %>" disabled>
                    <input type="text" value="<%= request.status %>" disabled>
                    <input type="hidden" name="request_id" value="<%= request.id %>">
            
                    <label for="approve">Approve/Reject</label>
                    <select name="approve" id="approve" required>
                        <option value="Approve">Approve</option>
                        <option value="Denied">Denied</option>
                    </select>
            
                    <label for="comment">Comments</label>
                    <textarea name="comment" id="Comment" ></textarea>
            
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>